/* primary containers */

body {
	background-color: black;
	font-family: 'Roboto Condensed', 'Geneva', sans-serif;
	color: black;
	margin: 4px;
	height: 100%;
	max-width: 100%;
	/*border: 2px solid hotpink;*/
}
#container2 {
	/*border: 2px solid green;*/
	background-color: black;
	height: 30em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("https://c2.staticflickr.com/8/7521/16259055865_96363292a8_b.jpg");
    max-width: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
}
#container2 a {
	border: 1px solid white;
	padding: 20px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-radius: 6px;
}
#container2 h1 {
	font-size: 45px;
	font-weight: 300;
	line-height: 1;
	letter-spacing: 6px;
	padding-right: 5px;
}
#container3 {
	/*border: 2px solid orange;*/
}
#container4 {
	margin-top: 5px;
	max-width: 100%;
	background-repeat: no-repeat;
	background-size: 100%;
	/*border: 2px solid blue;*/
}
#finalimage {
	width: 100%;
}
table {
	table-layout: fixed;
	width: 100%;
	border: 1px solid black;
	color: white;
}
.tablerow{
}
pre {
	width: 100%;
}
.ti {
	width: 100%;
}
footer {
	/*border: 2px solid hotpink;*/
	color: white;
}

/* button */

.button {
  display: inline-block;
  border-radius: 4px;
  border: 6px solid white;
  background-color: black;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 25px;
  width: 93%;
  transition: all 0.5s;
  cursor: pointer;
  margin-top: 5px;
  margin-left: 0px;
  letter-spacing: 2px;
}
.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  color: white;
}
.button span:after {
  content: '>';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
  color: white;
}
.button:hover span {
  padding-right: 35px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

/* link states */

a:link {
	color: white;
}
a:visited {
	color: white;
}
a:hover {
	color: black;
}
a {
	text-decoration: none;
}