/* primary containers */

body {
	background-color: black;
	font-family: 'Roboto Condensed', 'Geneva', sans-serif;
	color: black;
	margin: 4px;
	height: 100%;
	max-width: 100%;
	/*border: 2px solid hotpink;*/
}
#container2 {
	/*border: 2px solid green;*/
	background-color: black;
	height: 30em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("https://c2.staticflickr.com/8/7521/16259055865_96363292a8_b.jpg");
    max-width: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
}
#container2 a {
	border: 1px solid white;
	padding: 20px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-radius: 6px;
}
#container2 h1 {
	font-size: 45px;
	font-weight: 300;
	line-height: 1;
	letter-spacing: 6px;
	padding-right: 5px;
}
#container3 {
	/*border: 2px solid orange;*/
}
#container4 {
	position: relative;
	margin-top: 5px;
	max-width: 100%;
	background-repeat: no-repeat;
	background-size: 100%;
	/*border: 2px solid blue;*/
}
#finalimage {
	width: 100%;
}
table {
	table-layout: fixed;
	width: 100%;
	border: 1px solid black;
	color: white;
}
.ti {
	width: 100%;
}
footer {
	/*border: 2px solid hotpink;*/
	color: white;
}

/* link states */

a:link {
	color: white;
}
a:visited {
	color: #f2f2f2;
}
a:hover {
	color: black;
}
a {
	text-decoration: none;
}